//
// Custom
//

@use 'sass:map';
// !!!!
$font-size-root: 1rem;
$brand-black: #05050b;
$brand-black-hover: #92989e;
$brand-yellow: #f1ae42;
$brand-yellow-hover: #f8d7a1;

.scroll-margin {
	scroll-margin-top: map.get($header, height) + map.get($subheader, height) +
		map.get($page, padding-y);
}

.sticky-top-size {
	top: map.get($header, height) + map.get($subheader, height) + map.get($page, padding-y);
}

.border-transparent {
	--#{$prefix}border-opacity: 0;
}

ul li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
}

:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	flex-direction: column;
	height: 100%;
	width: 100%;
	font-weight: 400;
	line-height: 1.2;
	font-size: 16px;
	background-color: var(--white);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #111f3c;
}

.wrapper {
	max-width: 1345px;
	padding: 0 10px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 744px) {
		padding: 0 20px;
	}
	@media (max-width: 425px) {
		padding: 0 10px;
	}

	&__titles {
		padding: 0 24px 24px 24px;
		@media (max-width: 768px) {
			padding: 0px 18px 24px 18px;
		}
		@media (max-width: 575px) {
			padding: 0px 9px 16px 9px;
		}
	}
}
.card {
	box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	border-radius: 26px;
	@media (max-width: 425px) {
		border-radius: 18px;
	}
}
.modern-design .header {
	margin: 0;
	border-radius: 0;
	padding: 0;
	height: 100%;
}

.header {
	background-color: $white;
	box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	backdrop-filter: none;
	will-change: auto;
	@media (max-width: 767px) {
		box-shadow: none;
	}
	@media (max-width: 609px) {
		box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1), 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	}
}
.header-mobile {
	background-color: $white;
}
.header-right {
	background-color: $white;
}

.mobile-header {
	box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	height: auto;
}

.footer {
	position: relative;
	font-size: 12px;
	line-height: 14px;
	height: auto;
	padding: 24px 10px;
	margin: 0;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
	color: #323232;
	@media (max-width: 768px) {
		padding: 24px 0px;
	}
	@media (max-width: 425px) {
		padding: 24px 9px;
	}
}

.row {
	margin: 0;
}

.titles {
	font-size: 46px;
	line-height: 56px;
	@media (max-width: 768px) {
		font-size: 30px;
		line-height: 130%;
	}

	@media (max-width: 575px) {
		line-height: 40px;
	}
}

.withus {
	border-radius: 26px;
	box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	margin-bottom: 104px;
	@media (max-width: 768px) {
		margin-bottom: 40px;
	}
	@media (max-width: 425px) {
		border-radius: 18px;
	}

	&__body {
		@media (max-width: 768px) {
			padding: 24px 18px;
		}
		@media (max-width: 575px) {
			padding: 16px 9px;
		}
	}

	&__card {
		border-radius: 13px;
		@media (max-width: 768px) {
			border-radius: 7px;
		}
		@media (max-width: 425px) {
			border-radius: 10px;
		}
	}

	&__container {
		@media (max-width: 715px) {
			flex-direction: column !important;
		}
	}

	&__card-body {
		@media (max-width: 900px) {
			padding: 12px 21px;
		}
	}

	&__card-content {
		@media (max-width: 768px) {
			justify-content: center;
		}
	}

	&__card-imgwrap {
		@media (max-width: 768px) {
			max-width: 100%;
		}
	}

	&__card-imgwrap--padding {
		@media (max-width: 715px) {
			padding-left: 0px !important;
			padding-right: 11px !important;
		}
	}
	&__card-img {
		@media (max-width: 1220px) {
			height: 100px;
			width: 100px;
		}
		@media (max-width: 1010px) {
			height: 80px;
			width: 80px;
		}
		@media (max-width: 900px) {
			height: 70px;
			width: 70px;
		}
	}

	&__card-title {
		font-size: 46px;
		line-height: 56px;
		@media (max-width: 1100px) {
			font-size: 24px;
			line-height: 34px;
		}
	}

	&__card-subtitle {
		font-size: 18px;
		line-height: 24px;
		@media (max-width: 1100px) {
			font-size: 12px;
			line-height: 14px;
			font-weight: 400 !important;
		}
	}
}
.gap-style {
	gap: 21px;
	@media (max-width: 744px) {
		gap: 11px;
	}
}

.gap-19 {
	gap: 19px;
	@media (max-width: 768px) {
		gap: 10px;
	}
}

.mt-14 {
	margin-top: 14px;
	@media (max-width: 768px) {
		margin-top: 4px;
	}
	@media (max-width: 715px) {
		margin-top: 8px;
	}
}

.startups {
	margin-bottom: 24px;
	@media (max-width: 768px) {
		margin-bottom: 60px;
	}
	@media (max-width: 425px) {
		margin-bottom: 20px;
	}
	&__body {
		position: relative;
		padding: 0;
		height: 360px;
		justify-content: space-between;
		align-items: center;
		gap: 70px;
		@media (max-width: 1058px) {
			padding-top: 16px;
			flex-direction: column;
			height: auto;
			gap: 24px;
		}
		@media (max-width: 425px) {
			padding-top: 20px;
			gap: 20px;
		}
	}

	&__content {
		max-width: 540px;
		margin-left: 112px;
		@media (max-width: 1180px) {
			//max-width: 460px;
			margin-left: 70px;
		}
		@media (max-width: 1055px) {
			//max-width: 360px;
			margin-left: 50px;
		}
		@media (max-width: 1058px) {
			order: 2;
			max-width: 100%;
			margin-left: 18px;
			margin-right: 18px;
			margin-bottom: 24px;
			align-self: flex-start;
			//margin-top: -38px;
		}
		@media (max-width: 425px) {
			margin-left: 9px;
			margin-top: 0px;
			margin-bottom: 45px;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		color: #323232;
		@media (max-width: 768px) {
			font-size: 26px;
			line-height: 38px;
		}
		@media (max-width: 425px) {
			font-size: 20px;
			line-height: 30px;
		}
	}

	&__subtitle {
		line-height: 1.5;
		color: #323232;
		@media (max-width: 425px) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.btn.startups__btn {
		&:active {
			background-color: $brand-black;
			color: $white;
			border: 1px solid $brand-black;
		}

		&:disabled {
			background-color: #f5f5f5;
			color: $white;
			border: 1px solid #f5f5f5;
		}
	}
	.btn.startups__btn--two {
		&:active {
			background-color: transparent;
			color: $info;
			border: 1px solid $info;
		}

		&:disabled {
			opacity: 0.2;
		}
	}

	&__buttons {
		gap: 24px;
		@media (max-width: 628px) {
			flex-direction: column;
		}
	}

	&__btn {
		background-color: $brand-black;
		color: $white;
		border-radius: 20px;
		padding: 15.5px 30px;
		font-size: 18px;
		line-height: 24px;
		//margin-right: 24px;
		@media (max-width: 628px) {
			max-width: 282px;
		}
		@media (max-width: 425px) {
			font-size: 16px;
		}

		&:hover {
			background-color: $brand-black-hover;
			color: $white;
		}
	}

	&__btn--two {
		background-color: transparent;
		color: $info;
		border: 1px solid $info;
		margin-right: 0;
		&:hover {
			background-color: $info;
			color: $white;
		}
		@media (max-width: 628px) {
			max-width: 224px;
		}
	}

	&__img {
		background-image: url('../../assets/images/bg-startups.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 100%;
		width: 100%;
		max-height: 350px;
		max-width: 533px;
		margin-right: 70px;
		margin-bottom: 10px !important;
		@media (max-width: 1058px) {
			//background-image: url('../../assets/images/bg-startups-md.png');
			order: 1;
			height: 350px;
			max-width: 637px;
			align-self: flex-end;
			background-size: auto;
			margin-bottom: 0 !important;
			margin: 0 auto;
		}
		@media (max-width: 425px) {
			background-image: url('../../assets/images/bg-startups-sm.png');
			height: 264px;
			max-width: 261px;
			width: 100%;
		}
	}
}

.info {
	gap: 19px;
	margin-bottom: 80px;
	margin-top: 80px;
	@media (max-width: 1235px) {
		flex-direction: column;
		gap: 24px;
	}

	@media (max-width: 768px) {
		margin-top: 56px;
	}
	@media (max-width: 575px) {
		margin-bottom: 40px;
		margin-top: 16px;
	}
}
.auth {
	background-color: #fef8e3;
	width: 51%;
	margin-bottom: 0;
	overflow: hidden;

	@media (max-width: 1235px) {
		width: 100%;
	}
	&__body {
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	&__content {
		margin-left: 24px;
		margin-right: 9px;
		margin-top: -107px;
		margin-bottom: 24px !important;
		@media (max-width: 768px) {
			margin-left: 20px;
		}
		@media (max-width: 575px) {
			//margin-bottom: 24px !important;
			margin-left: 9px;
			margin-top: -90px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		//margin-bottom: 24px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 8px;
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 16px;
		}
	}

	&__btn {
		background-color: $brand-yellow;
		color: $white;
		border-radius: 20px;
		padding: 15.5px 40px;
		font-size: 18px;
		line-height: 24px;
		@media (max-width: 768px) {
			//font-size: 16px;
			padding: 15.5px 30px;
		}

		&:hover {
			background-color: $brand-yellow-hover;
			color: $white;
		}
	}

	.btn.auth__btn {
		&:active {
			background-color: $brand-yellow;
			color: $white;
			border: 1px solid $brand-yellow;
		}

		&:disabled {
			opacity: 0.1;
		}
	}

	&__img {
		background-image: url('../../assets/images/auth.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		max-height: 100%;
		max-width: 100%;
		height: 444px;
		width: 558px;
		align-self: flex-end;

		@media (max-width: 768px) {
			background-image: url('../../assets/images/auth-md.png');

			height: 444px;
			width: 611px;
		}
		@media (max-width: 575px) {
			background-image: url('../../assets/images/auth-sm.png');

			height: 318px;
			width: 261px;
		}
	}
}

.contacts {
	width: 50%;
	margin-bottom: 0;
	@media (max-width: 1240px) {
		width: 51%;
	}
	@media (max-width: 1235px) {
		width: 100%;
	}

	&__body {
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	&__content {
		margin-left: 24px;
		margin-right: 9px;
		//margin-top: -66px;
		margin-bottom: 24px !important;
		@media (max-width: 768px) {
			margin-left: 20px;
		}
		@media (max-width: 575px) {
			margin-left: 9px;
			//margin-top: -43px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
		}
	}

	&__subtitle {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 16px;
		}
	}

	&__img {
		background-image: url('../../assets/images/infoCard2.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		max-height: 100%;
		max-width: 100%;
		height: 320px;
		width: 436px;
		align-self: flex-end;
		margin: 10px auto;
		//margin-top: 10px;
		@media (max-width: 768px) {
			//background-image: url('../../assets/images/megafon-md.png');
		}
		@media (max-width: 575px) {
			//background-image: url('../../assets/images/megafon-sm.png');
			height: 207px;
			width: 282px;
		}
	}

	&__btn {
		padding: 15.5px 30px;
		border-radius: 20px;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		@media (max-width: 575px) {
			font-size: 16px;
		}
	}
	&__btn-mail {
		background-color: $brand-black;
		color: $white;
		margin-right: 24px;
		@media (max-width: 526px) {
			margin-bottom: 16px;
		}
		&:hover {
			background-color: $brand-black-hover;
			color: $white;
		}
	}
	.btn.contacts__btn-mail {
		&:active {
			background-color: $brand-black;
			color: $white;
			border: 1px solid $brand-black;
		}

		&:disabled {
			background-color: #f5f5f5;
			color: $white;
			border: 1px solid #f5f5f5;
		}
	}

	&__btn-telegram {
		color: $brand-yellow;
		border: 1px solid $brand-yellow;
		background-color: $white;

		&:hover {
			background-color: $brand-yellow;
			color: $white;
		}
	}
	.btn.contacts__btn-telegram {
		&:active {
			color: $brand-yellow;
			border: 1px solid $brand-yellow;
			background-color: $white;
		}

		&:disabled {
			color: #f8d7a1;
			border: 1px solid #f8d7a1;
		}
	}
}

.carousel-main {
	margin-top: 24px;
	margin-bottom: 40px;
	@media (max-width: 768px) {
		margin-bottom: 24px;
		margin-top: 16px;
	}
	@media (max-width: 575px) {
		margin-bottom: 42px;
		margin-top: 24px;
	}

	&__card {
		margin-bottom: 0;
		height: 600px;
		@media (max-width: 768px) {
			height: auto;
		}
		// @media (max-width: 575px) {
		// 	margin-bottom: 42px;
		// 	margin-top: 24px;
		// }
	}

	&__body {
		padding: 0;
		//background: #fbe7c7;
		align-items: center;
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__content {
		margin-left: 112px;
		max-width: 485px;
		margin-right: 9px;
		@media (max-width: 768px) {
			margin-top: 50px;
			margin-left: 84px;
			margin-bottom: -200px;
		}
		@media (max-width: 575px) {
			margin-left: 9px;
			margin-bottom: 0;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 60px;
		line-height: 72px;
		margin-bottom: 16px;
		color: #323232;
		@media (max-width: 768px) {
			font-size: 46px;
			line-height: 56px;
			margin-bottom: 8px;
		}
		@media (max-width: 575px) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	&__subtitle {
		line-height: 24px;
		color: #323232;
		@media (max-width: 768px) {
			margin-bottom: 34px;
		}
		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 35.5px;
		}
	}

	&__img {
		//background-image: url('../../assets/images/banner.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		max-height: 100%;
		max-width: 100%;
		height: 600px;
		width: 730px;
		align-self: flex-end;

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	background: #fce08a;
		// 	transform: matrix(0.4, 0.92, 0.96, -0.28, 0, 0);
		// 	width: 733.7px;
		// 	height: 1166.68px;
		// 	left: 620px;
		// 	top: 97.27px;
		// }
		@media (max-width: 768px) {
			//background-image: url('../../assets/images/banner-md.png');
			height: 595px;
			width: 704px;
		}
		@media (max-width: 575px) {
			//background-image: url('../../assets/images/banner-sm.png');
			height: 240px;
			width: 299px;
			align-self: center;
		}
	}

	&__img--one {
		background-image: url('../../assets/images/bannerOne.png');
		@media (max-width: 768px) {
			background-image: url('../../assets/images/bannerOneMd.png');
		}
		@media (max-width: 575px) {
			background-image: url('../../assets/images/bannerOneSm.png');
		}
	}
	&__img--two {
		background-image: url('../../assets/images/bannerTwo.png');
		height: 620px;
		width: 730px;
		@media (max-width: 768px) {
			background-image: url('../../assets/images/bannerTwoMd.png');
			height: 595px;
			width: 704px;
		}
		@media (max-width: 575px) {
			background-image: url('../../assets/images/bannerTwoSm.png');
			height: 240px;
			width: 299px;
		}
	}
	&__img--three {
		background-image: url('../../assets/images/bannerThree.png');
		height: 574px;
		width: 730px;
		@media (max-width: 768px) {
			background-image: url('../../assets/images/bannerThreeMd.png');
			height: 595px;
			width: 704px;
		}
		@media (max-width: 575px) {
			background-image: url('../../assets/images/bannerThreeSm.png');
			height: 240px;
			width: 299px;
		}
	}
}

.carousel-inner {
	box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	border-radius: 26px;

	max-width: auto;
}

.carousel-main .carousel-indicators {
	margin-bottom: 10px;
	@media (max-width: 768px) {
		margin-bottom: 5px;
	}
	@media (max-width: 575px) {
		margin-bottom: -32px;
	}
}

.carousel-indicators [data-bs-target] {
	background-color: #05050b;
	opacity: 0.3;
}

.carousel-indicators .active {
	opacity: 0.3;
}

.carousel-main {
	& .carousel-control-next-icon {
		margin-right: -45px;
	}

	& .carousel-control-prev-icon {
		margin-left: -45px;
	}

	& .carousel-control-next-icon {
		background-image: url('../../assets/images/arrow.svg');
	}

	& .carousel-control-prev-icon {
		background-image: url('../../assets/images/arrow.svg');
		transform: rotateY(-180deg);
	}
}
.sponsors-carousel,
.investors-carousel {
	& .carousel-control-next,
	& .carousel-control-prev {
		width: 60px;
	}
	& .carousel-control-next {
		right: -20px;
	}
	& .carousel-control-prev {
		left: -20px;
	}

	& .carousel-control-next-icon {
		background-image: url('../../assets/images/arrow-black.svg');
		width: 20px;
		height: 20px;
		margin-right: -45px;
	}

	& .carousel-control-prev-icon {
		background-image: url('../../assets/images/arrow-black.svg');
		transform: rotateY(-180deg);
		width: 20px;
		height: 20px;
		margin-left: -45px;
	}
}

.carousel-main .carousel-control-next:hover .carousel-control-next-icon {
	background-image: url('../../assets/images/arrow-white.svg');
}
.carousel-main .carousel-control-prev:hover .carousel-control-prev-icon {
	background-image: url('../../assets/images/arrow-white.svg');
	transform: rotateY(-180deg);
}

.carousel-control-prev,
.carousel-control-next {
	width: 100px;
	opacity: 1;
	@media (max-width: 575px) {
		display: none;
	}
}

.sponsors-info {
	gap: 50px;
	@media (max-width: 998px) {
		flex-direction: column;
		gap: 32px;
	}

	&__card {
		box-shadow: none;
		width: 50%;
		justify-content: center;
		align-items: center;
		@media (max-width: 998px) {
			margin-bottom: 0;
			width: 100%;
		}
	}

	&__body {
		width: 50%;
		order: 2;
		max-height: 390px;
		max-width: 628px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0;
		@media (max-width: 998px) {
			order: 1;
			text-align: center;
			margin: 0 auto;
			width: 100%;
		}
	}

	&__img {
		max-width: 100%;
	}

	&__content {
		order: 1;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: 998px) {
			width: 100%;
			order: 2;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		margin-bottom: 8px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
		}
	}

	&__subtitle {
		line-height: 24px;
		margin-bottom: 24px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 16px;
		}
	}

	&__btns {
		@media (max-width: 493px) {
			text-align: center;
		}
	}

	&__btn {
		padding: 15.5px 30px;
		border-radius: 20px;
		@media (max-width: 998px) {
			margin-bottom: 24px;
		}
	}

	&__btn-auth {
		background-color: $brand-black;
		color: $white;
		margin-right: 24px;
		@media (max-width: 469px) {
			margin-right: 0;
		}
		&:hover {
			background-color: $brand-black-hover;
			color: $white;
		}
	}
	.btn.sponsors-info__btn-auth {
		&:active {
			background-color: $brand-black;
			color: $white;
			border: 1px solid $brand-black;
		}

		&:disabled {
			background-color: #f5f5f5;
			color: $white;
			border: 1px solid #f5f5f5;
		}
	}

	&__btn-demo {
		color: $info;
		border: 1px solid $info;
		background-color: transparent;
		@media (max-width: 493px) {
			margin-bottom: 16px;
		}

		&:hover {
			background-color: $info;
			color: $white;
		}
	}
	.btn.sponsors-info__btn-demo {
		&:active {
			color: $info;
			border: 1px solid $info;
			background-color: transparent;
		}

		&:disabled {
			color: #edf0ff;
			border: 1px solid #edf0ff;
		}
	}
}

.sponsors {
	background-color: #fff1f5;
	&__body {
		padding: 40px 24px 24px 24px;
		@media (max-width: 768px) {
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media (max-width: 575px) {
			padding: 16px 9px;
		}
	}
}

.sponsors-carousel {
	margin-top: 24px;
	margin-bottom: 34px !important;

	@media (max-width: 575px) {
		margin-bottom: 0 !important;
		margin-top: 16px;
	}

	&__container {
		gap: 19px;
		justify-content: space-between;
	}
	&__card {
		margin-bottom: 0;
		border-radius: 13px;
		box-shadow: none;
		@media (max-width: 575px) {
			border-radius: 10px;
		}
	}

	&__body {
		padding: 20px;
		@media (max-width: 575px) {
			padding: 16px 9px 12px 9px;
		}
	}

	&__maintitle {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		margin-bottom: 24px;
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 16px;
		}
	}

	&__img-container {
		height: 150px;
		width: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__img {
		max-width: 100%;
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-top: 16px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 16px;
			margin-top: 13px;
		}
	}

	& .carousel-inner {
		box-shadow: none;
		border-radius: 0;
	}

	& .carousel-indicators {
		@media (max-width: 575px) {
			display: none;
		}
	}
}

.sponsors-carousel .carousel-indicators {
	margin-bottom: -34px;
	padding-bottom: 0;
	@media (max-width: 575px) {
		margin-bottom: -26px;
	}
}

.investors-info {
	gap: 50px;
	@media (max-width: 998px) {
		flex-direction: column;
		gap: 32px;
	}

	&__card {
		//order: 2;
		box-shadow: none;
		width: 50%;
		justify-content: center;
		align-items: center;
		@media (max-width: 998px) {
			margin-bottom: 0;
			width: 100%;
			order: 1;
		}
	}

	&__body {
		max-height: 399px;
		max-width: 628px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0;
		padding-top: 14px;
		width: 50%;
		@media (max-width: 998px) {
			text-align: center;
			margin: 0 auto;
			width: 100%;
		}
		@media (max-width: 575px) {
			padding-bottom: 10px;
		}
	}

	&__img {
		max-width: 100%;
	}

	&__content {
		//order: 1;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: 998px) {
			width: 100%;
			order: 2;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		margin-bottom: 8px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
		}
	}

	&__subtitle {
		line-height: 24px;
		margin-bottom: 24px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 16px;
		}
	}

	// &__btns {
	// 	@media (max-width: 493px) {
	// 		text-align: center;
	// 	}
	// }

	&__btn {
		padding: 15.5px 30px;
		border-radius: 20px;
		@media (max-width: 998px) {
			//margin-bottom: 24px;
		}
	}

	&__btn-auth {
		background-color: $brand-black;
		color: $white;
		//margin-right: 24px;
		@media (max-width: 469px) {
			margin-right: 0;
		}
		&:hover {
			background-color: $brand-black-hover;
			color: $white;
		}
	}
	.btn.investors-info__btn-auth {
		&:active {
			background-color: $brand-black;
			color: $white;
			border: 1px solid $brand-black;
		}

		&:disabled {
			background-color: #f5f5f5;
			color: $white;
			border: 1px solid #f5f5f5;
		}
	}

	&__btn-demo {
		color: $danger;
		border: 1px solid $danger;
		background-color: transparent;
		@media (max-width: 493px) {
			margin-bottom: 16px;
		}

		&:hover {
			background-color: $danger;
			color: $white;
		}
	}
	.btn.investors-info__btn-demo {
		&:active {
			color: $danger;
			border: 1px solid $danger;
			background-color: transparent;
		}

		&:disabled {
			color: #fff5f2;
			border: 1px solid #fff5f2;
		}
	}
}

.investors {
	background-color: #e3f2ff;
	&__body {
		padding: 40px 24px 24px 24px;
		@media (max-width: 768px) {
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media (max-width: 575px) {
			padding: 16px 9px;
		}
	}
}

.investors-carousel {
	margin-top: 24px;
	margin-bottom: 34px !important;
	@media (max-width: 575px) {
		margin-bottom: 0 !important;
		margin-top: 16px;
	}
	&__container {
		gap: 19px;
		justify-content: space-between;
	}
	&__card {
		margin-bottom: 0;
		border-radius: 13px;
		box-shadow: none;
		@media (max-width: 575px) {
			border-radius: 10px;
		}
	}

	&__body {
		padding: 20px;
		@media (max-width: 575px) {
			padding: 16px 9px 9px 12px;
		}
	}

	&__maintitle {
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		margin-bottom: 24px;
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
			margin-bottom: 16px;
		}
	}

	&__img-container {
		height: 150px;
		width: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__img {
		max-width: 100%;
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-top: 16px;
		color: #323232;
		@media (max-width: 575px) {
			font-size: 16px;
			margin-top: 13px;
		}
	}

	& .carousel-inner {
		box-shadow: none;
		border-radius: 0;
	}

	& .carousel-indicators {
		@media (max-width: 575px) {
			display: none;
		}
	}
}

.investors-carousel .carousel-indicators {
	margin-bottom: -34px;
	padding-bottom: 0;
	@media (max-width: 575px) {
		margin-bottom: -26px;
	}
}

.xl-carousel {
	@media (max-width: 1006px) {
		display: none;
	}
}

.md-carousel {
	display: none;
	@media (max-width: 1005px) {
		display: block;
	}
	@media (max-width: 576px) {
		display: none;
	}
}

.sm-carousel {
	display: none;
	@media (max-width: 575px) {
		display: block;
	}

	& .carousel-indicators {
		display: none;
	}
}

.sm-carousel .my-class {
	display: block;
}

.header .wrapper {
	@media (max-width: 767px) {
		padding: 0;
	}
}

.header .full-header__logo {
	@media (max-width: 767px) {
		display: none;
	}
}

.header-right-open {
	z-index: 1031;
}

.header-right-open .header-right {
	top: 0;
	@media (max-width: 609px) {
		transform: translateX(0%);
		left: auto;
		top: 12px;
	}
}

.header-right {
	transition: all 0.5s ease;

	@media (max-width: 609px) {
		left: auto;
		top: 12px;
		transform: translateX(150%);
		background-color: $white;
		backdrop-filter: none;
		will-change: auto;
	}
}
.header-overlay-right-menu {
	top: calc(1rem + var(--header-right-height));
}

.full-header {
	//justify-content: space-between;
	gap: 150px;

	@media (max-width: 1074px) {
		gap: 80px;
	}
	@media (max-width: 1004px) {
		gap: 0px;
	}
	@media (max-width: 767px) {
		padding-right: 9px;
		padding-left: 9px;
		height: 128px;
		align-items: flex-end !important;
		box-shadow: none;
	}
	@media (max-width: 609px) {
		flex-direction: column;
		height: auto;
		width: 195px;
		box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1), 0px 20.8px 39px rgba(0, 0, 0, 0.1);
		border-radius: 13px 0px 0px 13px;
		align-items: center !important;
		padding-top: 0;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 20px;
	}

	&__logo {
		margin-left: -29px;
		@media (max-width: 767px) {
			margin-left: 0;
			margin-top: -20px;
		}
		@media (max-width: 609px) {
			margin-top: -11px;
		}
	}

	&__nav {
		@media (max-width: 767px) {
			//margin-left: 92px;
			margin-left: 10px;
			margin-bottom: 23px;
		}
		@media (max-width: 700px) {
			margin-left: auto;
			margin-bottom: 23px;
		}
		@media (max-width: 609px) {
			margin: 0;
			margin-right: 0 !important;
			margin-top: 8px;
			//padding-bottom: 16px;
			position: relative;
			width: 100%;
			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	left: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	width: 174px;
			// 	height: 3.25px;
			// 	background: #dee2e6;
			// 	border-radius: 6.5px;
			// 	box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
			// }
		}
	}

	&__menu {
		gap: 24px;
		@media (max-width: 943px) {
			gap: 18px;
			justify-content: center;
			flex-wrap: wrap;
		}
		@media (max-width: 767px) {
			flex-wrap: nowrap;
			gap: 24px;
		}
		@media (max-width: 609px) {
			flex-direction: column;
		}
	}

	&__item {
		@media (max-width: 847px) {
			flex-basis: 140px;
			text-align: center;
		}
		@media (max-width: 767px) {
			flex-basis: auto;
		}

		& .active {
			text-decoration: underline;
		}
	}

	&__link {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: #111f3c !important;
		padding: 0;
		border: none;
		&:hover,
		&:active {
			color: #111f3c !important;
			text-decoration: underline;
		}
	}

	&__close-btn {
		display: none;
		@media (max-width: 609px) {
			display: block;
			width: 26px;
			height: 26px;
			padding: 0;
			margin: 0;
			align-self: flex-start;
		}
	}

	&__btn-link {
		margin: 34px 0;
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
		@media (max-width: 609px) {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}

	&__btn {
		font-size: 14px;
		line-height: 14px;
		color: $info;
		font-weight: 400;
		border-radius: 20px;
		padding: 15.5px 51px;

		border: none;

		&:hover {
			background-color: $info !important;
			color: $white;
		}
	}

	.btn.full-header__btn {
		&:active {
			color: $info;
		}

		&:disabled {
			color: #d3dafe;
		}
	}
}

.header-mobile .btn-only-icon.btn-lg,
.btn-group-lg > .btn-only-icon.btn {
	width: 40px;
	height: 40px;
	color: #92989e;
	@media (max-width: 609px) {
		width: 42px;
		height: 42px;
	}
}

.header-mobile .header-mobile__btn {
	&:hover,
	&:active {
		background-color: transparent;
		box-shadow: none;
	}
}
.header-mobile {
	&__container {
		padding: 11px 10px;
		width: 100%;
		padding-bottom: 0;
		@media (max-width: 767px) {
			margin-bottom: -3px;
		}
		@media (max-width: 609px) {
			padding-top: 12px;
			padding-bottom: 1px;
		}
	}

	&__btn {
		width: 40px;
		height: 40px;
		color: #92989e;
		background-color: #f5f5f5;
		border: none;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 609px) {
			width: 42px;
			height: 42px;
			margin-bottom: 7px;
		}
	}

	&__logo {
		justify-self: center;
	}

	&__close-btn {
		display: none;
		@media (max-width: 767px) {
			position: absolute;
			top: 11px;
			right: 10px;
			margin-right: 0;
			display: flex;
			margin-right: 0 !important;
		}
		@media (max-width: 609px) {
			display: none;
		}
	}

	&__button {
		margin: 0;
		height: 45px;
		justify-self: flex-end;
		position: absolute;
		bottom: 17.5px;
		right: 0px;

		bottom: 21px;
		right: -1px;
		@media (max-width: 609px) {
			display: none;
		}
	}

	.btn.header-mobile__button {
		&:active {
			color: $info;
		}

		&:disabled {
			color: #d3dafe;
		}
	}
}

.btn-only-icon.btn-lg {
	width: 40px;
	height: 40px;
}

.btn-icon {
	margin-top: 0;
}

.mobile-header .mobile-header-toggle .svg-icon {
	width: 100%;
	height: 100%;
}

.content {
	@media (max-width: 767px) {
		margin-top: 128px;
	}
}

.pitches {
	margin-top: 80px;
	margin-bottom: 94px;
	@media (max-width: 768px) {
		margin-top: 20px;
		margin-bottom: 70px;
	}
	@media (max-width: 575px) {
		margin-bottom: 30px;
	}
	&__wrapper {
		gap: 19px;
		filter: drop-shadow(0px 20.8px 39px rgba(0, 0, 0, 0.1));
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		display: none;

		@media (max-width: 970px) {
			flex-direction: column;
			gap: 0;
			filter: none;
		}

		&.nextSlide,
		&.lastSlide {
			position: absolute;
		}

		&.activeSlide {
			z-index: 1;
			position: relative;
			opacity: 1;

			display: flex;
		}

		&.activeSlide .pitches__video {
			transform: translateX(0px);
			animation: fadeIn2 2s;
			animation-fill-mode: forwards;
		}
		&.activeSlide .pitches-card__body .pitches-card__title {
			animation: fadeIn 3s;
			max-width: 671px;
			transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
			transition-duration: 1s;
			animation-fill-mode: forwards;
		}
		&.activeSlide .pitches-card__body .pitches-card__desc {
			animation: fadeIn 3s;
			transition-duration: 1.2s;
			animation-fill-mode: forwards;
		}
		&.activeSlide .pitches-card__body .pitches-card__trends {
			width: 100%;
			max-width: 540px;
			animation: fadeIn 3s;
			transition-duration: 1.4s;
			animation-fill-mode: forwards;
		}
		&.activeSlide .pitches-card__body .pitches-card__technologies {
			width: 100%;
			max-width: 435px;
			animation: fadeIn 3s;
			transition-duration: 1.6s;
			animation-fill-mode: forwards;
		}
		&.activeSlide .pitches-card__body .pitches__btn-wrapper {
			animation: fadeIn 3s;
			transition-duration: 2s;
			animation-fill-mode: forwards;
		}
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 700px;

		@media (max-width: 970px) {
			min-height: 1335px;
		}
		@media (max-width: 575px) {
			min-height: 1177px;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (max-width: 970px) {
			margin: 0 auto;
			margin-bottom: 16px;
		}
		@media (max-width: 575px) {
			width: auto;
		}
	}

	&__video {
		margin-bottom: 19px;
		overflow: hidden;
		box-shadow: none;

		transform: translateX(-500px);
		opacity: 0;
		transition: all 0.5s ease-in-out;

		@media (max-width: 970px) {
			box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
		}
	}

	&__btn {
		padding: 15.5px 10px;
		width: 100%;
		background-color: $brand-black;
		color: $white;
		border-radius: 20px;
		font-size: 18px;
		line-height: 24px;
		@media (max-width: 970px) {
			box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
		}
		@media (max-width: 575px) {
			font-size: 16px;
			box-shadow: none;
		}

		&:hover {
			background-color: $brand-black-hover;
			color: $white;
		}
	}

	.btn.pitches__btn {
		&:active {
			background-color: $brand-black;
			color: $white;
			border: 1px solid $brand-black;
		}

		&:disabled {
			background-color: #f5f5f5;
			color: $white;
			border: 1px solid #f5f5f5;
		}
	}

	&__info {
		width: 100%;
		max-height: 100%;
	}

	&__modal {
		position: relative;
		padding: 0 0 57.25% 0;
		height: 0;
		overflow: hidden;

		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.pitches-card {
	margin-bottom: 0;

	min-height: 700px;
	box-shadow: none;
	@media (max-width: 970px) {
		min-height: 601px;
		box-shadow: 0px 20.8px 39px rgba(0, 0, 0, 0.1);
	}
	&__body {
		padding: 80px 111px 80px 61.5px;
		@media (max-width: 1180px) {
			padding: 30px;
		}
		@media (max-width: 768px) {
			padding: 24px 18px 48px 18px;
		}
		@media (max-width: 575px) {
			padding: 24px 9px 30px 9px;
		}
	}

	&__title {
		max-width: 671px;
		width: 100%;
		font-weight: 600;
		font-size: 30px;
		line-height: 130%;
		color: #323232;
		padding-bottom: 16px;
		margin-bottom: 0;
		border-bottom: 1px solid rgba(#05050b, 0.3);
		opacity: 0;

		@media (max-width: 768px) {
			width: 100%;
		}
		@media (max-width: 575px) {
			font-size: 24px;
			line-height: 34px;
		}
	}

	&__desc {
		line-height: 24px;
		padding-top: 16px;
		padding-bottom: 32px;
		margin-bottom: 0;
		color: #323232;

		text-overflow: ellipsis;
		opacity: 0;

		@media (max-width: 575px) {
			font-size: 14px;
			line-height: 20px;
			padding-bottom: 48px;
		}
	}

	&__trends,
	&__technologies {
		padding-bottom: 32px;

		opacity: 0;
	}

	&__subtitle {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: #323232;
		margin-bottom: 0;
		padding-bottom: 8px;
		@media (max-width: 575px) {
			font-size: 16px;
		}
	}

	&__trends {
		width: 100%;
		max-width: 540px;
		// @media (max-width: 970px) {
		// 	width: 100%;
		// }
	}

	&__technologies {
		width: 100%;
		max-width: 435px;
		// @media (max-width: 768px) {
		// 	width: 100%;
		// }
	}

	&__btn {
		padding: 15.5px 30px;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		border: 1px solid #05050b;
		border-radius: 20px;

		@media (max-width: 575px) {
			font-size: 16px;
			width: 100%;
		}

		&:hover {
			color: $white;
			background-color: #05050b;
		}
	}

	.btn.pitches-card__btn {
		&:active {
			color: #05050b;
			background-color: $white;
		}

		&:disabled {
			color: #dee2e6;
			border: 1px solid #dee2e6;
		}
	}
}

.video {
	@media (max-width: 575px) {
		border-radius: 18px;
	}
	&__body {
		padding: 0;
		position: relative;
	}

	&__image {
		max-height: 699px;
		width: 429px;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: 575px) {
			width: auto;
		}
	}

	&__group {
		position: absolute;
		width: 100%;
		height: 175px;
		bottom: 0;
		padding-bottom: 50px;
		padding-top: 63px;
		text-align: center;
		float: inline-end;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
		@media (max-width: 575px) {
			height: 122px;
			padding-bottom: 40px;
			padding-top: 20px;
		}
	}

	&__play {
		position: absolute;
		padding: 0;
		margin: 0;
		height: 63px;
		width: 63px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__reject {
		width: 62px;
		height: 62px;
		background: #fff5f2;
		border-radius: 50%;
		margin-right: 48px;
		padding: 19px;
		& svg {
			margin-top: -5px;
		}
		&:hover,
		&:active {
			background: #f35421;
		}

		&:hover path {
			stroke: $white;
		}
	}

	.btn.video__reject {
		&:active {
			background: #f35421;
			border: 1px solid #f35421;
		}
		&:active path {
			stroke: $white;
		}
	}

	&__approve {
		width: 62px;
		height: 62px;
		background: #edf8f7;
		border-radius: 50%;
		padding: 19px;
		& svg {
			margin-top: -6px;
		}
		&:hover {
			background: #46bcaa;
		}

		&:hover path {
			stroke: $white;
		}
	}

	.btn.video__approve {
		&:active {
			background: #46bcaa;
			border: 1px solid #46bcaa;
		}
		&:active path {
			stroke: $white;
		}
	}
}

.tag {
	padding: 3px 14px 4px;
	border-radius: 30px;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
	text-align: center;
	margin-bottom: 8px;
	margin-right: 8px;
	max-width: 282px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;

	&__trend {
		background: #fbe7c7;
		color: #f1ae42;
		&:hover {
			color: #f1ae42;
		}
	}
	&__tech {
		background: #d1eeea;
		color: #46bcaa;
		&:hover {
			color: #46bcaa;
		}
	}
}

.header-overlay {
	backdrop-filter: none;
	background: none;
	top: 0;
}

.forinvestors {
	margin-bottom: 104px;
	@media (max-width: 768px) {
		margin-bottom: 80px;
	}
	@media (max-width: 575px) {
		margin-bottom: 40px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn2 {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.spinner-size {
	height: 230px;
	padding: 83px 0;
	@media (max-width: 576px) {
		height: 212px;
		padding: 74px 0;
	}
}
